* {
    padding: 0;
    
}
a ,p , div {
    font-family: 'Manrope', sans-serif;
}
.table__button-group{
    visibility: visible;
    display: flex;
    padding-right: 30px;

}
#table_box_bootstrap {
    background-color: #fff;
}
@media screen and (min-width:1025px) {
    .table__button-group{
        visibility: hidden;
        transition: visibility .06s ease-in;
    }
    tr:hover > td .table__button-group{
      visibility: visible;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
}
body {
    font-family: 'Manrope', sans-serif;
    background: #f2f2f2;
}
td,
th {
    text-align: left;
    padding: 8px;
}
tr {
    border-bottom: 1px solid #DFE0EB
    ;
    cursor: pointer;
}
#data-table {
    overflow-x: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.overview::content("Registered") {
    color: blue;
}
.table__button-group a:first-child {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    color: #828282;
    text-decoration: none;
}
.table__button-group a:last-child {
    font-size: 10px;
    padding-left: 7px;
    color: #828282;
}

tr {
    font-family: manr;
}
td {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18.27px;
    color: #4F4F4F;
    padding: 15px 0 15px 30px;
    
}
th {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1%;
    color: #8B8A8F;
    padding: 20px 30px;
}
tbody tr:hover {
    background-color: #F8F8F8;
}
thead {
    background: #F9FAFC;

}
table tr:last-child td:last-child {
    /* border: 2px solid green; */
    border-bottom-right-radius: 10px;
}
table tr:last-child td:first-child {
    /* border: 2px solid green; */
    border-bottom-left-radius: 10px;
}
#tableList {
    background-color: #ffffff;
}
#overview {
    font-weight: 500;
    font-size: 14px;
}
.registered span, .attended span, .declined span, .waitlist span, .cancelled span   {
    background-color: #F2F2F2;
    color: #8B8A8F;
    padding: 5px 10px;
}

.pagination{
    display: flex;
    align-items: center;
}

.pagination li{
    width: fit-content;
    margin: 1px;
    text-decoration: none;
    list-style: none;
}

.pagination li a{
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 6px 0;
    width: 35px;
    display: block;
}
.pagination li:first-child a, .pagination li:last-child a {
    font-size: 26px;
    padding: 0 10px;
}
.pagination .active a{
    background-color: #f2f2f2;
    color: rgb(0 0 0);
    font-weight: 300;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 30px;
    height: 60px;
}

.stats{
    color: #8B8A8F;
    font-size: 14px;
    padding-right: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;

}
.dvrecords {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.records {
    width: 100%;
    max-width: 50px;
    border: 0;
    background-color: white;
    height: 34px;
    padding: 0 5px;
    font-size: 14px;
    box-shadow: 0 1px 5px 1px rgba(150,170,180,0.5);
}
.records:focus {
    border: 0;
}
select , option {
    cursor: pointer;
}
select option:active {
    background: red;
}